.root {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  width: 100%;

  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
  a {
    display: block;
    color: #fe5f1e;
    border: 1px solid #fe5f1e;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    text-align: center;
    line-height: 42px;
    transition: all 0.2s ease-in;
    cursor: pointer;

    &:hover {
      background-color: #fe5f1e;
      color: #fff;
    }
  }
}

@media (max-width: 639px) {
  .root {
    flex-wrap: wrap;
    row-gap: 15px;
    width: 250px;
    margin: 0 auto;
  }
}

@media (max-width: 374px) {
  .root {
    width: 70%;
    a {
      height: 35px;
      width: 35px;
      font-size: 15px;
      font-weight: 700;
      line-height: 33px;
    }
  }
}
