.root {
  padding: 150px 100px;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;

  span {
    font-size: 64px;
  }
}

.description {
  font-size: 22px;
}

.button {
  margin-top: 20px;
  span {
    font-size: 22px;
  }
}

@media (max-width: 819px) {
  .root {
    padding: 50px 10px;

    h1 {
      font-size: 24px;
    }

    span {
      font-size: 36px;
    }
  }

  .description {
    font-size: 20px;
  }

  .button {
    span {
      font-size: 20px;
    }
  }
}
